{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Sobre Mí</h1>
          <span class="subheading">Ésto es lo que hago</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Amante de la naturaleza, programador, estudiante y lector acérrimo. Me encantan la narrativa y el cine.
          También me gusta escribir y compartir con personas de otras culturas.
        </p>
        <p>
          Como programador, soy un completo autodidacta. Me fascinan la programación back-end, la programación a bajo
          nivel y la ingienería de sistemas. Continuamente estoy aprendiendo cosas nuevas sobre este asombroso mundo, y
          siempre que puedo las comparto por LinkedIn.
        </p>
        <p>
          Me gusta ver películas y series. Soy fiel seguidor de la saga de Dune, de la cual podría llegar a decir que es
          mi favorita tanto en cine como en literatura. También me encanta leer literatura de la antigua Grecia:
          trajedias, cronologías, etc., así como otros temas de la antiguedad.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}