{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/contact-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          {% if msg_sent: %}
          <h1>Tu mensaje fue enviado con éxito</h1>
          {% else: %}
          <h1>Contáctame</h1>
          {% endif %}
          <span class="subheading">¿Tienes preguntas?</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          ¿Quieres contactarme? ¡Llena el formulario de abajo para enviarme un mensaje. Te responderé lo más pronto
          posible!
        </p>
        <div class="my-5">
          <!-- * * * * * * * * * * * * * * *-->
          <!-- * * Simplified SB Contact Form for the Tutorial* *-->
          <form id="contactForm" name="sentMessage" action="{{ url_for('contact') }}" method="post">
            <div class="form-floating">
              <input class="form-control" id="name" name="name" type="text" placeholder="Escribe tu nombre..."
                required />
              <label for="name">Nombre</label>
            </div>
            <div class="form-floating">
              <input class="form-control" id="email" name="email" type="email" placeholder="Escribe tu email..."
                required />
              <label for="email">Correo electrónico</label>
            </div>
            <div class="form-floating">
              <input class="form-control" id="phone" name="phone" type="tel"
                placeholder="Escribe tu número telefónico..." required />
              <label for="phone">Número de teléfono</label>
            </div>
            <div class="form-floating">
              <textarea class="form-control" id="message" name="message" placeholder="Escribe tu mensaje..." required
                style="height: 12rem"></textarea>
              <label for="message">Mensaje</label>
            </div>
            <br />
            <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">
              Enviar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}